@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@mixin robotoLight {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
}
@mixin robotoRegular {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin robotoMedium {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}
@mixin robotoBold {
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
}

@mixin flexBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin gridBox {
    display: grid;
    align-items: center;
    justify-content: center;
}